// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-intro{
  margin:100px;
}

.new-index,.user-index{
  margin:70px;
}

.contents{
  height:400px;
}

.contents img{
  max-width: 100%;
  height: 200px;
}
.flash{
  padding-top: 10px;
}


.iconimage img{
  max-width: 100%;
  height:30px !important;
}

.btn{
  text-align:center;
}
